.principale{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    padding: 20px;
    height: 440px;
    width: 600px;
    margin-top: 50px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4), 2px 8px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 430px;
   /* transition: width 1s ease-in-out;*/

}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px; /* Altezza dell'icona */
    margin-top: -70px; /* Metà dell'altezza dell'icona per posizionarla esattamente a metà del bordo superiore */
}

.icon {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 80px;
    height: 80px;
    background-color: white;
    margin-left: 10px;
}
table {
    font-size: 14px;
    font-family: "Montserrat";
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.tabArrotondata{
    border-radius: 8px;
    overflow: hidden;
}

th {
    color: #e6f7e6;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
thead {
    background-color: #359f37;
}

tbody tr:nth-child(even) {
    background-color: #e6f7e6;
}
tbody tr:nth-child(odd) {
    background-color: white;
}

table tr td:last-child {
    text-align: center;
}

input[type="button"]{
    width: 80px;
    border-radius: 5px;
    min-height: 1.5vw;
    background-color: #4caf50;
}
h1, h2{
    color: #013a63;
    margin-bottom: 0;
    font-family: "Montserrat";
}

input[type="button"]:hover {
    background-color: #45a049;
}

form {
    font-size: 16px;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
}

label {
    margin-bottom: 5px;
    text-align: right;
    width: 15vw;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 14px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
    padding: 5px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25vw;
    margin-right: 8px;
    font-family: "Montserrat";
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .btn1 {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: max(16px, 1vw);
}


form .btn1{
    background-color: #45a049;
}

.btn-container {
    text-align: center;
    margin-top: 7px;
}

.btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-size: max(16px, 1vw);
    font-family: "Montserrat";
}

.btn:hover {
    background-color: #45a049;
}

.btnCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tables{
    display: flex;
    flex-direction: column; /* Imposta la direzione della flessione su column */
    align-items: center;
    width: 100%;
    text-align: left;
}

.tabellaStorico{
    max-height: 155px; /* Altezza massima prima che la scrollbar appaia */
    overflow-y: auto;
}

.notification {
    display: none;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin: 0;
    position: fixed;
    top: 11%;
    left: 43%;
}

.notification2 {
    display: none;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin: 0;
    position: fixed;
    top: 11%;
    left: 43%;
}



		