/*body{
    color: white;
    background-color:#251c35;
}*/

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.content{
    text-align: center;
}
.dashboard .section {
    position: relative;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
}
.text{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.dashboard .section:hover {
    transform: scale(1.05);
}
.dashboard .section.section-expanded {
    margin: 10px;
    width: 100%;
    height: 38vw;
    transform: scale(1);
    z-index: 2;
    cursor: default;
}

.dashboard .section:not(.section-expanded) {
    width: 420px;
    height: 240px;
}
#img{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    transition: background-color 0.7s ease;
    border-radius: 50px;
}
#img:hover{
    background-color: #26bd26;
}
.section-expanded #img{
    display: block;
}
.contentEnergia > *:not(.initial-content-energia) {
    display: none;
}
.section-expanded .contentEnergia > *:not(.initial-content-energia) {
    display: block;
}
.content > *:not(.initial-content) {
    display: none;
}
.contentIA > *:not(.initial-content-IA) {
    display: none;
}
.section-expanded .contentIA > *:not(.initial-content-IA) {
    display: block;
}

.contentConsumi > *:not(.initial-content-consumi) {
    display: none;
}
.section-expanded .contentConsumi > *:not(.initial-content-consumi) {
    display: block;
}
.contentConsumiAttuali > *:not(.initial-content-consumiAttuali) {
    display: none;
}
.section-expanded .contentConsumiAttuali > *:not(.initial-content-consumiAttuali) {
    display: block;
}
.section-expanded .chart1{
    display: none;
}
.section-expanded .chart-container1{
    display: none;
}
.section-expanded .text{
    display: none;
}

.section-expanded .visTab{
    display: none;
}
#consumoEdifici{
    display: none;
}
#sommaProduzione{
    display: none;
}
h3{
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin: 15px auto;
}
#tab{
    width: 90%;
    font-size: 13px;
}
#tab1{
    width: 90%;
    font-size: 13px;
    margin-top: -10px;
}
.expanded-content-consumiAttuali{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandedConsumi{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandedConsumi #consumi{
    width: 25%;
    margin-left: 40px;
    background: #251c35;
    color: white;
}
.expandendEnergia{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandendEnergia #tabEnergia{
    margin-top: -100px;
    width: 70%;
}
#consumi th{
    padding: 0;
    height: 35px;
    color: black;
}
#consumi td{
    padding: 0;
    height: 32px;
}
.expandendIA{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btnIA:hover{
    background-color: green;
    font-weight: bold;
    color: white;
}
.btnIA{
    width: 110px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    position: absolute; /* Posiziona il bottone in base al suo contenitore .sec */
    bottom: 10px; /* Spazio dal margine inferiore */
    left: 50%; /* Posiziona il bottone a metà dell'elemento padre */
    transform: translateX(-50%); /* Centra il bottone orizzontalmente */
    transition: .5s;
}
.selected{
    background-color: green;
    font-weight: bold;
    color: white;
}
.tipo{
    width: 100%;
    font-weight: bold;
    border-radius: 13px 13px 0px 0px;
    background: linear-gradient(to bottom right, #98ff98, #006400);
    height: 60px;
}
.tipo .title{
    font-weight: 800;
    font-size: 18px;
    padding-top: 15px;
    font-family: arial black;;
}
.expandendIA .tabelle,
.expandendIA .tabelle2,
.expandendIA .tabelle3 {
    position: relative;
    height: 420px;
    width: 400px;
    margin: 15px;
    border: 2px solid black;
    text-align: center;
    /*background: linear-gradient(to bottom right, #bcee68, #556b2f);*/
    border-radius: 15px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #f6f6f6;
}
.tabelle:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tabelle2:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tabelle3:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.dashboard .section.section-expanded #tab1IA{
    width: 90%;
    font-size: 13px;
}
.dashboard .section.section-expanded #tabIA{
    width: 90%;
    font-size: 13px;
}
#tabIA{
    width: 90%;
    font-size: 13px;
}
#tab1IA{
    width: 90%;
    font-size: 13px;
    margin-top: -10px;
}

.IATab{
    font-size: 13px;
}
.contIA{
    height: 80%;
}
.section-expanded .content table{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #tab{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #tab1{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #consumi{
    width: 25%;
}
.visTab{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.visTab table {
    margin-bottom: 0;
    margin-top: 0;
}

#vistabIA th, td{
    font-size: 13px;
    height: 5px !important;
}
#vistab1IA th, td{
    font-size: 13px;
    height: 5px !important;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.single-column {
    width: 30%;
}
.battery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    width: 70px;
    border: 2px solid black;;
    border-radius: 10px;
}
.section-expanded .battery{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 190px;
    width: 130px;
    border: 2px solid black;;
    border-radius: 20px;
}
.batt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.section-expanded .batt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.box {
    position: absolute;
    height: 10px;
    width: 300px;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
}
.battery span {
    height: 25%;
    margin: 3.5px;
    width: 95%;
    border-radius: 10px;
}
.section-expanded .battery span{
    border-radius: 20px;
}
.battery .box,
.battery span {
    background-color: white;
}

.battery .box {
    animation: none;
}

#s1 {
    background-color: red;
}

#s2 {
    background-color: orange;
}

#s3{
    background-color: yellow;
}

#s4 {
    background-color: limegreen;
}

.battery .box,
.battery span {
    animation: none;
}
#batteryText{
    margin-top: 10px;
}
.battery .box {
    height: 10px;
    width: 30px;
}
.section-expanded .battery .box{
    height: 20px;
    width: 60px;
}

#sortable-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 93%;
    display: block;
    align-self: center;
}

#sortable-list li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 0 0 5px;
    padding: 10px;
    cursor: grab;
    width: 100%;
    text-align: center;
}

#sortable-list li:hover {
    background-color: #e0e0e0;
}

#sortable-list li span {
    position: absolute;
    margin-left: -1.3em;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}
th {
    border-top: 2px solid #ddd;
}
select {
    width: 70%;
    margin-bottom: 5px;
    text-align:center;
    margin-top: 5px;
}
input[type="range"] {
    width: 70%;
}
.sortable-list-container {
    margin-top: 10px;
}

@keyframes anime {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: limegreen;
    }
}

.containerChart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    margin-left: 150px;

}
.containerEnergia {
    width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
}
.chart {
    padding: 2rem;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    height: 300px;
    width: 600px;
}

.chart1 {
    padding: 30px;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    height: 300px;
}

.chart-container {
    width: 410px;
    height: 180px;
    margin-left: 50px;
    margin-top: -250px;
}
.chart-container-consumi {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#curveChart {
    margin-top: -5px;
    margin-left: 10px;
    width: 420px;
    height: 170px;
    overflow: visible;
}
#curve_chart{
    min-width: 900px;
    min-height: 450px;
}
.dati{
    display: none;
}
.section-expanded #curve_chart1{
    display: none;
}
.section-expanded #curveChart{
    display: none;
}
#curveChart_sommaProduzione1{
    margin-top: -5px;
    margin-left: 10px;
    width: 420px;
    height: 170px;
    overflow: visible;
}
#curve_chart_ConsumiEdificio1{
    margin-top: -5px;
    margin-left: 10px;
    width: 420px;
    height: 170px;
    overflow: visible;
}
#curveChart_sommaProduzione2{
    width: 900px;
    height: 450px;
    margin-left: 50px;
}
#curve_chart_ConsumiEdificio2{
    width: 900px;
    height: 450px;
    margin-left: 50px;
}
.section-expanded #curveChart_sommaProduzione1{
    display: none;
}
.section-expanded #curve_chart_ConsumiEdificio1{
    display: none;
}
/*
.section-expanded #tabIA, .section-expanded #tab1IA{
    display: none;
}*/