@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    color: white;
    background-color:#1d1f2f;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.content{
    text-align: center;
}
.dashboard .section {
    position: relative;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #28293f;
}
.dashboard #section1{
    position: relative;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #28293f;
    width: 47.5vw;
    height: 47vh;
}
.dashboard #section2{
    position: relative;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #28293f;
    width: 47.5vw;
    height: 47vh;
}
@media screen and (max-width: 1300px) {
    .dashboard .section, .dashboard #section1, .dashboard #section2, .dashboard #section3{
        min-width: 420px;
        min-height: 240px;
        max-width: 420px;
        max-height: 240px;
    }
}
.text{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
    font-weight: bold;
}
.dashboard .section:hover {
    transform: scale(1.03);
}
.dashboard .section.section-expanded {
    margin: 10px;
    width: 100%;
    min-height: 81vh;
    transform: scale(1);
    z-index: 2;
    cursor: default;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard #section1.section-expanded {
    margin: 10px;
    width: 100%;
    min-height: 81vh;
    transform: scale(1);
    z-index: 2;
    cursor: default;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard #section2.section-expanded {
    margin: 10px;
    width: 100%;
    min-height: 81vh;
    transform: scale(1);
    z-index: 2;
    cursor: default;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard #section3.section-expanded {
    margin: 10px;
    width: 100%;
    min-height: 81vh;
    transform: scale(1);
    z-index: 2;
    cursor: default;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard .section:not(.section-expanded) {
    width: 25.5vw;
    height: 32vh;
}

.dashboard #section3{
    width: 15.5vw;
    height: 32vh;
}
#img{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    transition: background-color 0.7s ease;
    border-radius: 50px;
}
#img:hover{
    background-color: #26bd26;
}
.section-expanded #img{
    display: block;
}
.contentEnergia > *:not(.initial-content-energia) {
    display: none;
}
.section-expanded .contentEnergia > *:not(.initial-content-energia) {
    display: block;
}
.content > *:not(.initial-content) {
    display: none;
}
.contentIA > *:not(.initial-content-IA) {
    display: none;
}
.section-expanded .contentIA > *:not(.initial-content-IA) {
    display: block;
}
.contentBatt > *:not(.initial-content-bat) {
    display: none;
}
.section-expanded .contentBatt > *:not(.initial-content-bat) {
    display: block;
}

.contentConsumi > *:not(.initial-content-consumi) {
    display: none;
}
.section-expanded .contentConsumi > *:not(.initial-content-consumi) {
    display: block;
}
.contentConsumiAttuali > *:not(.initial-content-consumiAttuali) {
    display: none;
}
.section-expanded .contentConsumiAttuali > *:not(.initial-content-consumiAttuali) {
    display: block;
}
.section-expanded .chart1{
    display: none;
}
.section-expanded .chart-container1{
    display: none;
}
.section-expanded .text{
    display: none;
}

.section-expanded .visTab{
    display: none;
}
#consumoEdifici{
    display: none;
}
#sommaProduzione{
    display: none;
}
.section h3 {
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
    padding: 10px 20px;
    font-family: "Montserrat";
    font-size: 20px;
}
.section-expanded h3{
    font-size: 40px;
}

.section-expanded h3{
    left: 50%;
    transform: translateX(-50%);
}
table {
    border-collapse: collapse;
    width: 90%;
    margin: 15px auto;
}
#tab{
    width: 90%;
    font-size: 13px;
}
#tab1{
    width: 90%;
    font-size: 13px;
    margin-top: -10px;
}
.expanded-content-consumiAttuali{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandedConsumi{
    width: 100%;
}

.expandendEnergia{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandendEnergia #tabEnergia{
    margin-top: -100px;
    width: 70%;
}

.expandendIA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 12px;
}
.btnIA:hover{
    background-color: green;
    font-weight: bold;
    color: white;
}
.btnIA{
    width: 110px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    position: absolute; /* Posiziona il bottone in base al suo contenitore .sec */
    bottom: 10px; /* Spazio dal margine inferiore */
    left: 50%; /* Posiziona il bottone a metà dell'elemento padre */
    transform: translateX(-50%); /* Centra il bottone orizzontalmente */
    transition: .5s;
}
.selected{
    background-color: green;
    font-weight: bold;
    color: white;
}
.tipo{
    width: 100%;
    font-weight: bold;
    border-radius: 13px 13px 0px 0px;
    background: linear-gradient(to bottom right, #98ff98, #006400);
    height: 60px;
}
.tipo .title{
    font-weight: 800;
    font-size: 18px;
    padding-top: 15px;
    font-family: arial black;;
}
.expandendIA .tabelle,
.expandendIA .tabelle2,
.expandendIA .tabelle3 {
    position: relative;
    height: 65vh;
    width: 28vw;
    margin: 15px;
    border: 2px solid black;
    text-align: center;
    /*background: linear-gradient(to bottom right, #bcee68, #556b2f);*/
    border-radius: 15px;
    -webkit-transition: .5s;
    transition: .5s;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    min-width: 400px;
    min-height: 400px;
}
.tabelle:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tabelle2:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tabelle3:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.dashboard .section.section-expanded #tab1IA{
    width: 90%;
    margin-top: 2vh;
}
.dashboard .section.section-expanded #tabIA{
    width: 90%;
    margin-top: 9vh;
}
#tabIA{
    width: 90%;
}
#tab1IA{
    width: 90%;
    margin-top: -10px;
}

.dashboard .section.section-expanded .IATab{
    margin-top: 8vh;
}
.IATab td, .IATab th{
    border: 0.5px solid #1d2b44;
    padding: 5px;
    background-color: rgba(91, 143, 248, 0.1);
}
.contIA{
    height: 80%;
}
.section-expanded .content table{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #tab{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #tab1{
    width: 90%;
    font-size: 16px;
    margin: 15px auto;
}
.section-expanded .content #consumi{
    width: 25%;
}
.visTab{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.visTab table {
    margin-bottom: 0;
    margin-top: 0;
    min-width: 24vw;
    min-height:50px;
}

#vistabIA th, #vistabIA td{
    font-size: 13px;
    border: 0.5px solid #1d2b44;
    padding: 5px;
    background-color: rgba(91, 143, 248, 0.1);
}
#vistab1IA th, #vistab1IA td{
    font-size: 12px;
    border: 0.4px solid #1d2b44;
    background-color: rgba(91, 143, 248, 0.1);
}
#tabIA th, #tabIA td{
    border: 0.5px solid #1d2b44;;
    padding: 5px;
    background-color: rgba(91, 143, 248, 0.1);
}
#tab1IA th, #tab1IA td{
    border: 0.5px solid #1d2b44;;
    padding: 5px;
    background-color: rgba(91, 143, 248, 0.1);
}/*
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}*/

th {
    background-color: #f2f2f2;
}
.single-column {
    width: 30%;
}

.battery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15vh;
    width: 5vw;
    border: 2px solid black;;
    border-radius: 10px;
    margin-top: 30px;
}
.section-expanded .battery{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 35vh;
    width: 10vw;
    border: 2px solid black;;
    border-radius: 20px;
}
.batt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.section-expanded .batt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.batt .box {
    position: absolute;
    height: 10px;
    width: 300px;
    bottom: 100%;
    background-color: #28293f !important;
    border: 2px solid black;
}
.battery span {
    height: 25%;
    margin: 3.5px;
    width: 95%;
    border-radius: 10px;
}
.section-expanded .battery span{
    border-radius: 20px;
}
.battery .box,
.battery span {
    background-color: white;
}

.battery .box {
    animation: none;
}

#s1 {
    background-color: red;
}

#s2 {
    background-color: orange;
}

#s3{
    background-color: yellow;
}

#s4 {
    background-color: limegreen;
}

.battery .box,
.battery span {
    animation: none;
}
#batteryText{
    margin-top: 10px;
}
.battery .box {
    height: 10px;
    width: 30px;
}
.section-expanded .battery .box{
    height: 20px;
    width: 60px;
}

#sortable-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 93%;
    display: block;
    align-self: center;
}

#sortable-list li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 0 0 5px;
    padding: 10px;
    cursor: grab;
    width: 100%;
    text-align: center;
}

#sortable-list li:hover {
    background-color: #e0e0e0;
}

#sortable-list li span {
    position: absolute;
    margin-left: -1.3em;
}/*
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}*/
th {
    border-top: 2px solid #ddd;
}
select {
    width: 70%;
    margin-bottom: 5px;
    text-align:center;
    margin-top: 5px;
}
input[type="range"] {
    width: 70%;
}
.sortable-list-container {
    margin-top: 10px;
}
/*
@keyframes anime {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: limegreen;
    }
}*/

.containerChart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
.containerEnergia {
    width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
}
.chart {
    padding: 2rem;
    border-radius: 1rem;
    height: 50vh;
    width: 73vw;
    min-height: 200px;
    min-width: 400px;
}
.expandedConsumi #consumi{
    width: 20vw;
    height: 50vh;
    margin-left: -23vw;
    min-width: 300px;
    border: 1px solid #f2f2f2;
}

@media screen and (max-width: 1000px) {
   .expandedConsumi #consumi {
        margin-left: -18vw;
    }
}

    #consumi th{
        padding: 0;
        height: 35px;
        color: black;
    }
    #consumi td{
        padding: 0;
        height: 32px;
        border: 0.5px solid #f2f2f2;
    }

.chart1 {
    min-width: 23vw;
    margin-top: 46px;
    margin-right: 10px;
}

.chart-container {
    width: 410px;
    height: 180px;
    margin-left: 50px;
    margin-top: -250px;
}
.chart-container-consumi {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#curveChart {
    margin-top: -5px;
    margin-left: 10px;
    width: 420px;
    height: 170px;
    overflow: visible;
}
#curve_chart{
    min-width: 900px;
    min-height: 450px;
}
.dati{
    display: none;
}
.section-expanded #curve_chart1{
    display: none;
}
.section-expanded #curveChart{
    display: none;
}
#curveChart_sommaProduzione1{
    margin-top: 15px;
    margin-left: 10px;
    width: 55vw;
    height: 42vh;
    overflow: visible;
    min-width: 420px;
    min-height: 170px;
}
#curve_chart_ConsumiEdificio1{
    margin-top: 15px;
    margin-left: 10px;
    width: 55vw;
    height: 42vh;
    overflow: visible;
    min-width: 420px;
    min-height: 170px;
}
#curveChart_sommaProduzione2{
    width: 70vw;
    height: 70vh;
    margin-left: 50px;
}
#curve_chart_ConsumiEdificio2{
    width: 70vw;
    height: 70vh;
    margin-left: 50px;
}
.section-expanded #curveChart_sommaProduzione1{
    display: none;
}
.section-expanded #curve_chart_ConsumiEdificio1{
    display: none;
}
/* Nascondi il testo sull'asse x */
#curveChart_sommaProduzione1 text[text-anchor="middle"] {
    fill: transparent !important;
}
#curveChart_sommaProduzione2 text[text-anchor="middle"] {
    fill: transparent !important;
}
#curve_chart_ConsumiEdificio1 text[text-anchor="middle"] {
    fill: transparent !important;
}
#curve_chart_ConsumiEdificio2 text[text-anchor="middle"] {
    fill: transparent !important;
}

.contentMeteoTab{
    width: 113%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    margin-left: -20px;
}
.section-expanded .contentMeteoTab{
    max-height: 60vh;
}
#meteoTable {
    border-collapse: collapse;
    width: 100%;
    min-width: 350px;
    margin: 15px auto;
    font-size: 15px;
    margin-top: 40px;

}
#meteoTable th{
    background-color: transparent;
    color: white;
}
#meteoTable th, #meteoTable td {
    text-align: center;
    padding: 2px;
    width: auto;
    border: none;
    height: 10px;
    font-size: 11px;
}

.contentMeteoTab table th {
    background-color: #28293f;
    color: white;
}
.contentMeteoTab table th:nth-child(1), td:nth-child(1) {
    min-width: 60px;
}
.contentMeteoTab table img{
    width: 15px;
}
.contentMeteo > *:not(.initial-content-meteo) {
    display: none;
}
.section-expanded .contentMeteo> *:not(.initial-content-meteo) {
    display: block;
}
.expanded-content-energia{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expanded-content-meteo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*SECTION EXPANDEND METEO*/
.section-expanded #meteoTable {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #dddddd;
    font-size: 16px;
    margin-top: 60px;
}
.section-expanded .contentMeteoTab{
    margin-top: 5%;
    width: 50vw;
    overflow-y: auto;
}
.section-expanded  #meteoTable1 thead {
    position: sticky;
    top: 0;
    height: 90px;
    z-index: 1;
    background-color: white;
}
.section-expanded #meteoTable1 {
    border-collapse: collapse;
    width: 60vw;
    margin: 0;
    font-size: 16px;
    overflow-y: auto;
}
.section-expanded #meteoTable th, .section-expanded #meteoTable td {
    text-align: center;
    padding: 8px;
    width: auto;
    border: none;
    height: 10px;
    font-size: 16px;
}

.section-expanded #meteoTable1 th, .section-expanded #meteoTable1 td {
    text-align: center;
    padding: 8px;
    width: auto;
    border: none;
    height: 10px;
    font-size: 16px;
}

.section-expanded .contentMeteoTab table th:nth-child(1), .section-expanded td:nth-child(1) {
    min-width: 80px;
}
.section-expanded .contentMeteoTab table img{
    width: 50px;
}

.section-expanded #meteoTable{
    display: none;
}
/*
#sommaProduzione{
    margin-top: 100px;
    border: 2px solid black;
}*/
.containerBattery {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
    display: grid;
    place-items: center;
}

.circular-progress {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: #ffffff;
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #231c3d;
}

.button17 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgb(151, 255, 6);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button17:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(43, 110, 45);
    align-items: center;
}

.button17:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button17::before {
    position: absolute;
    bottom: -20px;
    content: "Vendi";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button17:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}
