
form {
    width: 400px; /* Imposta la larghezza del form */
    padding: 20px;
    height: 400px; /* Altezza del form */
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Allinea gli elementi in colonna */
    justify-content: flex-end; /* Allinea gli elementi del form verso il basso */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%; /* Imposta il bordo a un cerchio */
    overflow: hidden; /* Nasconde le parti dell'immagine al di fuori del bordo del cerchio */
    position: absolute; /* Imposta il posizionamento assoluto per l'avatar */
    top: -50px; /* Sposta l'avatar verso l'alto della metà della sua altezza */
    left: calc(50% - 50px); /* Centra l'avatar orizzontalmente */
}

.avatar img {
    width: 100%; /* Fai in modo che l'immagine riempia l'intero cerchio */
    height: auto;
    border-radius: 50%; /* Assicurati che l'immagine abbia bordi rotondi */
    background-color: white;
}

label {
    margin-bottom: 8px;
    text-align: right;
    width: 140px;
    margin-right: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 6vw); /* Larghezza del 100% meno il padding */
    margin-right: 8px; /* Distanza tra l'input e il lato destro del container */
}

/* Aggiunto stile per allineare label e input in riga */
form div {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Allinea gli elementi su tutta la larghezza */
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* Posiziona il pulsante alla fine del container */
}

input[type="submit"]:hover {
    background-color: #45a049;
}