*{
    font-family: "Montserrat";
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 150px;
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    table {
        width: 50%;
    }
}

input[type="button"]{
    width: 80px;
    border-radius: 5px;
    min-height: 1.5vw;
    background-color: #4caf50;
}

input[type="button"]:hover {
    background-color: #45a049;
}

form {
    width: 43vw;
    min-width: 420px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow:
            2px 4px 8px rgba(0, 0, 0, 0.4),
            2px 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

label {
    margin-bottom: 8px;
    text-align: right;
    width: 140px;
    margin-right: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 6vw);
    margin-right: 8px;
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .bottone1 {
    background-color: white;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-container {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn {
    background-color: #013a63;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #013152;
    transition: border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 15px;
}

.btn:hover {
    background-color: white;
    color: #013152;
    border-radius: 50px;
    font-weight: bold;
}
.bottone1:hover {
    background-color: #0aa811;
    color: white;
    font-weight: bold;
}
.container {
    min-width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    height: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button:hover{
    color: white;
    font-weight: bold;
    background-color: red;
}
h1{
    font-size: 30px;
    margin-top: -5%;
    font-family: "Montserrat";
    color: white;
}
.navdiv .nav-buttons {
    display: none;
}
.navdiv .btnLogout{
    display: none;
}
